:root {
    --yellow: #f1f139;
    --white: #FFFFFF;
    --black: #000000;
}
body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: Arial;
    
}
#subtitle {
    border: none;
    color: #f3f3f3;
    background-color: #cec000;
    border-radius: 12px;
    font-family: Arial;
    margin: 0.5rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    width: 360px;
    font-size: 16px;
    font-weight: bold
}
#msg {
    border: 0.5rem outset rgb(211, 207, 2);
    border-radius: 12px;
    font-family: Helvetica;
    margin: 0.5rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    width: 800px;
    font-size: 20px;
    font-weight: bold
}
#title {
    font-size: 256px;
    font-weight: bold;
}
#err {
    border: 0.3rem outset rgb(211, 207, 2);
    border-radius: 12px;
    font-family: Helvetica;
    margin: 0.2rem;
    padding: 0.5rem;
    outline-offset: 0.1rem;
    width: 110px;
    font-size: 16px;
    font-weight: bold
}

.bpdp-search {
    --bg: var(--yellow);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
.filter-search {
    --bg: var(--yellow);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}
.btn {
    height: 50px;
    width: 100px;
    border-radius: 17%;
    border: none;
    color: #f3f3f3;
    background-color: #cec000;
    font-weight: bold;
    font-size: 20px;
}
.search {
    height: 30px;
    width: 150px;
    border-radius: 5%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
    font-weight: bold
}

.input1 {

    height: 30px;
    width: 670px;
    border: none;
    color: #838383;
    background-color: #d6d6d6; 
}
.input2 {

    height: 30px;
    width: 670px;
    border: none;
    color: #838383;
    background-color: #d6d6d6; 
}

#msg2 {
    border: 0.5rem outset rgb(211, 207, 2);
    border-radius: 12px;
    font-family: Helvetica;
    margin: 0.5rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    font-size: 20px;
    font-weight: bold;
}
#msg3 {
    border: 0.5rem outset rgb(211, 207, 2);
    border-radius: 12px;
    font-family: Helvetica;
    margin: 0.5rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    font-size: 20px;
    font-weight: bold;
}
#msg4 {
    border: 0.5rem outset rgb(211, 207, 2);
    border-radius: 12px;
    font-family: Helvetica;
    margin: 0.5rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    font-size: 20px;
    font-weight: bold;
}
#myList {
    border: 0.5rem outset rgb(211, 207, 2);
    border-radius: 12px;
    font-family: Helvetica;
    margin: 0.5rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    font-size: 20px;
    font-weight: bold;
}
#myList2 {
    border: 0.5rem outset rgb(211, 207, 2);
    border-radius: 12px;
    font-family: Helvetica;
    margin: 0.5rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    font-size: 20px;
    font-weight: bold;
}
#myList3 {
    border: 0.5rem outset rgb(211, 207, 2);
    border-radius: 12px;
    font-family: Helvetica;
    margin: 0.5rem;
    padding: 1rem;
    outline-offset: 0.5rem;
    font-size: 20px;
    font-weight: bold;
}
.lois {
    position: absolute;
    text-align: center;
    left: 43%;
    top: 14%;
}